.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-60px);
    padding-bottom: 4rem;  
}

.hero-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-name{
    justify-self: flex-end;
    border-right: .3rem solid var(--color-black);
    padding-right: 1rem;

}

.hero-right{
    display: flex;
    align-items: center;
}

.hero-title{
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

