.navbar{
    margin: 1vh 5vw;
    display: flex;
    justify-content: space-between;
}

:hover.nav-link{
    cursor: pointer;
}

.navbar-actions{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.navbar-actions a{
    color: black;
}
.navbar-actions li{
    list-style: none;
}