.projects-name{

}
.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
    width: 80%;
    margin: 0 auto;
}

.project-card{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.project-card a{
    color: black;
}

.project-name:hover{
    text-decoration: underline;
}
.project-header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.project-description{
    text-align: left;
    margin-bottom: 0;
}

.project-preview{
    width: 250px;
    height: 155px;
}

.project-preview:hover{
    opacity: 0.5;
}
