.skills-section{
    background-color: var(--color-white);

}

.skills-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    min-width: 250px;
    gap: 20px;
    height: fit-content;
}

.tile-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    align-items: center;
    max-height: 100px;
}

.tile-wrapper>i{
    font-size: 2rem;
}

.item-label{
    font-size: 1rem;
}